.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  margin: 30px;
}

.listLink {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.listItem {
  list-style-type: decimal;
  list-style-position: outside;
}
.listItem:hover {
  background-color: lightgrey;
}

.btn {
  width: 100px;
  height: 50px;
  padding: 5px;
  margin: 10px;
}

.controller-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  /* color: rgb(36, 35, 35); */
  text-align: center;
  display: block;
  height: 80px;
  z-index: 999;
  /*   
  position: sticky;
  width: 500px;
  top: auto;
  bottom: 0; */
}
